.graph-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }


  body,
  html {
    height: 100%;
  }

  #map {
    height: 20%
  }

.dashboard {
  font-weight: bold;
}

h5 {
  font-weight: bold;
}